* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// helper classes
.container {
  padding: 0 1rem;

  @include breakpoints-up(med) {
    padding: 1rem 2rem;
  }
}

.show {
  // display: block !important;
  left: 1rem !important;
}