.header {
  position: relative;
  background-image: url(../../images/mobile/image-header.jpg);
  background-position: top center;
  background-size: cover;
  color: $white;
  min-height: 80vh;
  user-select: none;

  @include breakpoints-up(med) {
    background-image: url(../../images/desktop/image-header.jpg);
  }

  &__contain {
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;

    @include breakpoints-up(med) {
      align-items: center;
    }
  }

  &__menu {
    cursor: pointer;

    @include breakpoints-up(med) {
      display: none;
    }

    i {
      font-size: 1.5rem;
    }
  }

  &__nav {
    position: relative;
    display: none;
    position: absolute;
    top: 5rem;
    left: 1rem;
    right: 1rem;
    background-color: $white;
    transition: all 200ms ease-in-out;

    @include breakpoints-up(med) {
      display: block;
      position: static;
      background-color: transparent;
    }

    &::before {
      content: "\a";
      border-style: solid;
      border-width: 20px 20px 0px 15px;
      border-color: rgba(0, 0, 0, 0) $white rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
      position: absolute;
      top: -20px;
      right: 0px;
    }

    &-menu {
      list-style: none;
      text-align: center;
      padding: 1.3rem 0;

      @include breakpoints-up(med) {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
      }

      li {
        padding: 1rem 0;

        @include breakpoints-up(med) {
          padding: 0;

          &:not(:last-child) {
            margin-right: 2rem;
          }
        }

        a {
          text-decoration: none;
          text-transform: capitalize;
          font-family: $fontBarlow;
          font-size: $fontBodySize;
          color: $darkGrayishBlue;

          @include breakpoints-up(med) {
            font-size: 1rem;
            color: $white;
          }
        }
      }

      .btn {
        background-color: $yellow;
        display: inline-block;
        padding: 1rem 2rem;
        border-radius: 30px;
        margin: 1rem 0;
        transition: all 200ms ease-in-out;

        @include breakpoints-up(med) {
          margin: 0;
          background-color: $white;
          padding: 1rem 1.3rem;

          &:hover {
            background-color: rgb(94, 212, 248);
          }
        }


        a {
          color: black;
          text-transform: uppercase;
          font-family: $fontFraunces;
          font-weight: bold;
          transition: color 200ms ease-in-out;

          &:hover {
            color: $darkBlue;

            @include breakpoints-up(med) {
              color: $white;
            }

          }


        }
      }
    }
  }

  &__hero {
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @include breakpoints-up(med) {
      height: 70vh;
      margin-top: 10vh;
      justify-content: flex-start;
    }

    &-heading {
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 7px;
      // font-size: clamp(1.2rem, 5.6vw, 5rem);
      font-size: 42px;
      font-family: $fontFraunces;
      margin-bottom: 2.5rem;

      @include breakpoints-up(med) {
        margin-bottom: 7rem;
        font-size: 52px;
      }
    }

  }
}